* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
<<<<<<< Updated upstream
    background-color: rgb(113, 215, 233);
=======
    background-color: rgb(113, 209, 233);
>>>>>>> Stashed changes
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.377);
}